{{template "header.html" .}}{{template "flash.html" .}}
<ul class="breadcrumb">
  <li><a href="{{url "Application.Index"}}">首页</a> <span class="divider">/</span></li>
  <li>系统用户管理 <span class="divider">/</span></li>
  <li class="active">管理员列表</li>
</ul>

<div class="container">
  <h4>管理员列表</h4>
  <table class="table table-hover">
  <tr>
  	<th>#</th>
  	<th>用户名</th>
  	<th>名字</th>
  	<th>工号</th>
  	<th>创建者</th>
  	<th>是否可用</th>
  	<th>创建时间</th>
  	<th>最后修改</th>
  	<th>操作</th>
  </tr>
  <tbody>{{range .pageAdmin.Content}}
  <tr{{if not .IsEnabled}} class="muted"{{end}}>
  	<td>{{.Id}}</td>
  	<td>{{.AdminName}}</td>
  	<td>{{if .EmpName.Valid}}{{.EmpName.String}}{{else}}<i>&lt;无&gt;</i>{{end}}</td>
  	<td>{{if .EmpNo.Valid}}{{.EmpNo.String}}{{else}}<i>&lt;无&gt;</i>{{end}}</td>
  	<td>{{if gt .UserId 0}}<a href="#">{{.UserName.String}}</a>{{else}}(系统){{end}}</td>
  	<td>{{if .IsEnabled}}<span class="badge badge-info">可用</span>{{else}}<span class="badge">不可用</span>{{end}}</td>
  	<td><span title="{{.CreatedTime.Time.Format "2006-01-02 15:04"}}">{{.CreatedTime.Time.Format "2006-01-02"}}</span></td>
  	<td><span title="{{.LastModifiedTime.Time.Format "2006-01-02 15:04"}}">{{.LastModifiedTime.Time.Format "2006-01-02"}}</span></td>
  	<td>
      <div class="btn-group">
        <a href="#" class="btn btn-small btn-primary dropdown-taggle" data-toggle="dropdown">操 作
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url "Administrators.AdminDetail" .Id}}"><i class="icon-edit"></i> 编辑</a></li>{{if .IsEnabled}}
          <li><a href="javascript:void(0)" onclick="return false;"><i class="icon-ban-circle"></i> 禁用</a></li>{{else}}
          <li><a href="javascript:void(0)" onclick="return false;"><i class="icon-ok-circle"></i> 重新启用</a></li>{{end}}
          <li class="divider"></li>
          <li><a href="javascript:void(0)" onclick="return false;"><i class="icon-remove"></i> 删除</a></li>
        </ul>
      </div>
    </td>
  </tr>{{end}}
  </tbody>
  </table>
  {{set . "pagination" .pageAdmin}} {{set . "paginationAlign" "centered"}} {{set . "pageUrl" "/admins/admin_list/%d"}}
  {{template "pagination.html" .}}
</div>

{{template "footer.html" .}}