    </div>{{/*--/.span10--*/}}
  </div>{{/*--/.row-fluid--*/}}
  <hr/>
  <footer>
  	<p>&copy; King4go Team. All rights reserved.</p>
  </footer>
</div>{{/*--/.fluid-container--*/}}
<script src="/public/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/jquery-form.min.js" type="text/javascript" charset="utf-8"></script>
{{range .moreScripts}}<script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>{{end}}
{{with .pageScripts}}{{.}}{{end}}
</body>
</html>